{% extends 'base.html' %}
{% block title %}Summary | GÜDLFT Registration{% endblock %}
{% block title_page %}Welcome, {{ club['email'] }}{% endblock %}
{% block main %}
    Your points available: {{ club['points'] }}
    <h2>Competitions:</h2>
    <ul class="comp-list">
      {% for comp in competitions %}
        <li>
          <span class="item-name">{{ comp['name'] }}</span>
          Date: {{ comp['date'] }}<br/>
          Number of Places: {{ comp['nb_places'] }}<br/>
          {% if comp['is_active'] %}
            {% if comp['nb_places']|int > 0 %}
              <a class="btn" href="{{ url_for('book',competition=comp['name'],
                       club=club['name']) }}">Book Places</a>
            {% else %}
              <button disabled>No places left</button>
            {% endif %}
          {% else %}
            <button disabled>Booking closed</button>
          {% endif %}
        </li>
        <hr/>
      {% endfor %}
    </ul>
{% endblock %}